venv/
__pycache__/
*.pyc
uploads/
data/
.env
.vscode/
*.msi
*.exe
*.pdf
*.docx
*.pptx
*.zip
*.mkv
*.jpeg
*.lnk
dlib*/
lib-master/
node-v*/
postgresql-*/
xampp-*/
python-*/
*.whl
get-pip.py
firebase-service-account.json.json
mastersolis-*.json
!Anusign.png
!drawio.png
!qr_code_Tech_Fest_2025.png
!drawio.png
